body {
    margin:0px;
    padding:0px;
}
.app-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width:100%;
    flex-wrap: wrap;
}

.app-left {
    width: 50%;
    background-color: grey;
    height:100vh;
}
.app-right {
    width: 50%;
    background-color: #cbeee2;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.app-right-top {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.app-right-top-head {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-right-middle-form {
    width:100%;
    display: flex;
    flex-direction: column;
    height: 55%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.app-right-middle-link-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width:100%;
    height: 50%;
}

.app-right-middle-link-top > a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline dashed;
    color : rgba(0, 0, 0, 0.5);
    font-size: 15px;
}
.app-right-middle-link-bottom {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
    margin-bottom: 20px;
}

.app-right-middle-link-bottom >a {
    font: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline dashed;
    color : rgba(0, 0, 0, 0.5);
    font-size: 15px;
}

.app-right-bottom {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-left-image {
    width: 130%;
    height: 100%;
}

.app-right-top-image {
    margin-top: 60px;
    align-items: center;
}

.app-right-top-head-title {
    font-size: 35px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top:15px;
    align-self: center;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.label {
    display: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: left;
    font-family: Montserrat-Regular;
    color: #03303D;
}

.input {
    width: 80%;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #03303D;
    padding-left: 10px;
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #03303D;
    border: #888888;
    border-radius: 4px; 
}
.input-date {
    width: 78%;
}

.input-submit {
    background-color: #44d09f;
    color: aliceblue;
    font-weight: bolder;
    font-size: 20px;
}



